@import '../../../../variables.scss';

.pane {
  max-height: 800px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,.15);
  position: relative;

  &:hover {
    .description-div, p.description, p.title {
      visibility: visible;
    }
  }

  .description-div {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: rgba(0,0,0,.7);
    visibility: hidden;
    overflow: hidden;
  }

  p.title {
    color: white;
    transform: rotate(-90deg) translate(-50%, 0);
    transform-origin: 0 0;
    position: absolute;
    margin-top: 50%;
    background: rgba(0,0,0,.7);
    width: 100%;
    display: inline;
    left: 0;
    
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 24px;

    @media screen and (min-width: $sm) {
      font-size: 28px;
    }
    @media screen and (min-width: $lg) {
      font-size: 24px;
    }
    @media screen and (min-width: $xl) {
      font-size: 32px;
    }
  }

  p.description {
    position: absolute;
    right: 20px;
    color: white;
    word-wrap: break-word;
    visibility: hidden;

    text-align: left;
    width: 65%;
    bottom: 5px;
    right: 5px;
    font-size: 13px;

    @media screen and (min-width: $sm) {
      font-size: 13px;
    }
    @media screen and (min-width: $lg) {
      font-size: 12px;
    }
    @media screen and (min-width: $xl) {
      font-size: 15px;
    }
  }
  
  & + .pane {
    margin-left: 10px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

