@import '../../../variables';

.thumbnail {
  margin-top: 20px;
  transition: transform .5s;
  box-shadow: 0 10px 15px #c7c7c7;
  border-radius: 5px;
  .position {
    visibility: hidden;
    left: 0;
    right: 0;
    bottom: 20px;
    font-weight: 300;
    position: absolute;
    text-align: center;
    display: inline-block;
    color: white;
    z-index: 10;
    @media screen and (min-width: $xl) and (max-width: 1400px) {
      bottom: 0;
      font-weight: 400;
      font-size: 12px !important;
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.07);
    .position {
      visibility: visible;
    }
    &:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0,0,0,.7);
      top: 0;
      left: 0;
    }
  }
  &.active {
    position: relative;
    margin-top: 15px;
    border-top: 6px solid #fb6a66;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    .img-wrapper {
      transition: all 3s;
      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.6);
        top: 0;
      }
    }
  }
  img {
    max-width: 100%;
  }
  @media screen and (min-width: $xl) {
  }
}