@import '../../../variables.scss';

.second-pane, .third-pane {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.third-pane {
  @media screen and (max-width: 991px) {
    display: none;
  }
}